<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigup</title>

</head>
<body>
    
    <form action="/auth/signup" method="post">

    <label for="username">Username:</label>

    <input id="username" type="text" name="username">

    <label for="password">Password:</label>

    <input id="password" type="text" name="password">

    <button type="submit">Signup</button>

    </form>
    
</body>
</html>